.background {
  background-image: linear-gradient(
    to top,
    #0f0209,
    #330531,
    #2a0133,
    #320053,
    #46035c,
    #5b036e,
    #69025d,
    #83025a
  );
  filter: blur(1.5px);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  transform-style: preserve-3d;
}

.grid {
  position: absolute;
  top: 0%;
  left: -50%;
  width: 200%;
  height: 100%;
  background-image: linear-gradient(to right, #ffa27d4f 1px, transparent 1px),
    linear-gradient(to bottom, #ffa27d4f 1px, transparent 1px);
  background-size: 40px 25px;
  animation: slide 4s linear infinite;
}

@keyframes slide {
  0% {
    transform: perspective(200px) rotateX(65deg) translateY(0px);
  }
  100% {
    transform: perspective(200px) rotateX(65deg) translateY(50px);
  }
}

.scanlines {
  background: repeating-linear-gradient(
    transparent,
    transparent 2px,
    rgba(0, 0, 0, 0.35) 4px,
    rgba(0, 0, 0, 0.35) 4px
  );
  background-size: 20px 20px;
  background-position: center center;
  opacity: 1;
  position: fixed;
  top: -25%;
  left: 0;
  width: 100%;
  height: 150%;
  z-index: 20000;
  overflow: hidden;
  animation: scanlineMovement 4s linear infinite;
  pointer-events: none;
}

@keyframes scanlineMovement {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}

.container {
  color: #fff;
  padding: 20px;
  font-size: 16px;
  min-height: calc(100vh - 138px);
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
  margin-bottom: 50px;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0;
  color: #ff00e5;
  text-shadow: 0 0 10px #ff00e5, 0 0 20px #ff00e5, 0 0 30px #ff00e5;
}

.subtitle {
  font-size: 2rem;
  font-weight: 400;
  margin-top: 0;
  color: #6bffed;
  text-shadow: 0 0 10px #6bffed, 0 0 20px #6bffed, 0 0 30px #6bffed;
}

.side-column-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

.section-title {
  font-size: 1.25rem;
  font-weight: 700;
  color: #ff00e5;
  text-shadow: 0 0 10px #ff00e5, 0 0 20px #ff00e5, 0 0 30px #ff00e5;
  margin-top: 0;
  margin-bottom: 0;
}

.proficiencies .side-column-title {
  color: #ff006a;
  text-shadow: 0 0 10px #ff006abd, 0 0 20px #ff006abd, 0 0 30px #ff006abd;
}

.languages .section-title {
  color: #ff00e5;
  text-shadow: 0 0 10px #ff00e5, 0 0 20px #ff00e5, 0 0 30px #ff00e5;
}

.technologies .section-title {
  color: #6bffed;
  text-shadow: 0 0 10px #6bffed, 0 0 20px, 0 0 30px #6bffed;
}

.introduction .section-title {
  color: #ff006a;
  text-shadow: 0 0 10px #ff006abd, 0 0 20px #ff006abd, 0 0 30px #ff006abd;
}

.experience .section-title {
  color: #ff6c00;
  text-shadow: 0 0 10px #ff6c00, 0 0 20px #ff6c00, 0 0 30px #ff6c00;
}

.languages ul,
.technologies ul,
.experience ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.languages ul li,
.technologies ul li,
.experience ul li {
  margin-bottom: 5px;
  padding-left: 20px;
  position: relative;
  font-size: 0.75rem;
  color: #fff;
}

.languages ul li:before,
.technologies ul li:before,
.experience ul li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff00e5;
  box-shadow: 0 0 10px #ff00e5, 0 0 20px #ff00e5, 0 0 30px #ff00e5;
}

.technologies ul li:before {
  background-color: #6bffed;
  box-shadow: 0 0 10px #6bffed, 0 0 20px, 0 0 30px #6bffed;
}

.experience ul li:before {
  background-color: #ff6c00;
  box-shadow: 0 0 10px #ff6c00, 0 0 20px #ff6c00, 0 0 30px #ff6c00;
}

.footer {
  text-align: center;
  margin-top: 50px;
  color: #fff;
}

.footer p {
  font-size: 1.2rem;
  margin: 0;
  text-shadow: 0 0 10px #ff00e5, 0 0 20px #ff00e5, 0 0 30px #ff00e5;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.introductory-text {
  font-size: 0.75rem;
}

@media only screen and (max-width: 1000px) {
  .introduction {
    margin: auto 20px auto 20px;
  }
}

@media only screen and (min-width: 1000px) {
  .introduction {
    max-width: 40%;
  }
}

// //https://fabrizio.dev/inspirations/css-retrowave-sunset
// #sun {
//   position: absolute;
//   top: 20%;
//   left: 40%;
//   display: grid;
//   grid-template: 1fr / 1fr;
//   inline-size: min(80vmin, 400px);
//   aspect-ratio: 1;
//   border-radius: 50%;
//   font-size: 0;

//   --bg: #f9124f;
//   filter: drop-shadow(0 0 min(20px, 5vmin) var(--bg));
//   background: radial-gradient(
//     circle at center,
//     var(--bg) 0,
//     var(--bg) 53%,
//     transparent 60%
//   );
// }

// #sun::after {
//   content: "";
//   grid-area: 1 / 1;
//   background: linear-gradient(#fcc22f, #f945e5);
//   border-radius: inherit;

//   --mask: linear-gradient(
//       to top,
//       #000 1.5%,
//       #0000 2%,
//       #0000 5%,
//       #000 5.5%,
//       #000 7.5%,
//       #0000 8%,
//       #0000 10.6%,
//       #000 11.1%,
//       #000 13.6%,
//       #0000 14.1%,
//       #0000 16.3%,
//       #000 16.8%,
//       #000 19.8%,
//       #0000 20.3%,
//       #0000 22.1%,
//       #000 22.6%,
//       #000 26.1%,
//       #0000 26.6%,
//       #0000 28%,
//       #000 28.5%,
//       #000 32.5%,
//       #0000 33%,
//       #0000 34%,
//       #000 34.5%,
//       #000 39%,
//       #0000 39.5%,
//       #0000 40.1%,
//       #000 40.6%,
//       #000 46.6%,
//       #0000 47.1%,
//       #0000 47.5%,
//       #000 48%,
//       #000 53.5%,
//       #0000 54%,
//       #0000 54.2%,
//       #000 0
//     )
//     no-repeat;

//   -webkit-mask: var(--mask);
//   mask: var(--mask);
// }
