<div class="background">
  <div class="grid"></div>
</div>
<div class="scanlines"></div>

<div class="container">
  <div class="header">
    <h1 class="title glitch">{{ greeting }}</h1>
    <h2 class="subtitle">{{ welcome }}</h2>
  </div>
  <div class="content">
    <div class="introduction">
      <h4 class="section-title">The name is João</h4>
      <h4 class="section-title">and I'm a full-stack developer</h4>
      <p class="introductory-text">
        with a passion for building software from end to end. My approach to
        software development is heavily focused on teamwork and I love
        incorporating retro-futuristic elements!
      </p>
      <p class="introductory-text">
        With {{ yearsOfExperience }} years of experience in the industry, I have
        honed my skills in developing responsive and user-friendly web
        applications. Whether it's building a simple website or a complex web
        application, I always strive to create a seamless user experience that
        engages and delights users. <br />
        My interests also span to game development having delved into Unreal
        Engine 5, Unity and Godot. When not coding, you can find me listening to
        retro music, playing games, or out on a stroll. I am always looking for
        new and exciting projects to work on, so please don't hesitate to get in
        touch if you would like to collaborate!
      </p>
      <p class="introductory-text">
        {{ farewell }}
      </p>
      <div class="experience">
        <h4 class="section-title">EXPERIENCE</h4>
        <ul>
          <li *ngFor="let job of experience">{{ job }}</li>
        </ul>
      </div>
    </div>
    <div class="side-column">
      <div class="proficiencies">
        <h3 class="side-column-title">PROFICIENCIES:</h3>
      </div>
      <div class="languages">
        <h4 class="section-title">PROGRAMMING LANGUAGES</h4>
        <ul>
          <li *ngFor="let language of languages">{{ language }}</li>
        </ul>
      </div>
      <div class="technologies">
        <h4 class="section-title">TECHNOLOGIES</h4>
        <ul>
          <li *ngFor="let tech of technologies">{{ tech }}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer"></div>
</div>
