.background {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  transform-style: preserve-3d;
}

.grid {
  position: absolute;
  top: 0%;
  left: -50%;
  width: 200%;
  height: 100%;
  background-image: linear-gradient(to right, #97088b71 1px, transparent 1px),
                    linear-gradient(to bottom, #97088b49 1px, transparent 1px);
  background-size: 40px 25px;
  animation: slide 2.5s linear infinite;
}

@keyframes slide {
  0% {
    transform: perspective(200px) rotateX(65deg) translateY(0px);
  }
  100% {
    transform: perspective(200px) rotateX(65deg) translateY(25px);
  }
}

.scanlines{
  background: repeating-linear-gradient(transparent, transparent 2px, rgba(0, 0, 0, 0.350) 4px, rgba(0, 0, 0, 0.350) 4px);
  background-size: 20px 20px;
  background-position: center center;
  opacity: 1;
  position: fixed;
  top: -25%;
  left: 0;
  width: 100%;
  height: 150%;
  z-index: 20000;
  overflow: hidden;
  animation: scanlineMovement 2.5s linear infinite;
  pointer-events: none;
}

@keyframes scanlineMovement {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}

.container {
  background-color: #28003ac9;
  color: #fff;
  padding: 20px;
  font-size: 16px;
  min-height: calc(100vh - 138px);
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
  margin-bottom: 50px;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0;
  color: #ff00e5;
  text-shadow: 0 0 10px #ff00e5, 0 0 20px #ff00e5, 0 0 30px #ff00e5;
}

.subtitle {
  font-size: 2rem;
  font-weight: 400;
  margin-top: 0;
  color: #6bffed;
  text-shadow: 0 0 10px #6bffed, 0 0 20px #6bffed, 0 0 30px #6bffed;
}

.side-column-title{
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

.section-title {
  font-size: 1.25rem;
  font-weight: 700;
  color: #ff00e5;
  text-shadow: 0 0 10px #ff00e5, 0 0 20px #ff00e5, 0 0 30px #ff00e5;
  margin-top: 0;
  margin-bottom: 0;
}

.proficiencies .side-column-title{
  color: #ff006a;
  text-shadow: 0 0 10px #ff006abd, 0 0 20px #ff006abd, 0 0 30px #ff006abd;
}

.languages .section-title{
  color: #ff00e5;
  text-shadow: 0 0 10px #ff00e5, 0 0 20px #ff00e5, 0 0 30px #ff00e5;
}

.technologies .section-title{
  color: #6bffed;
  text-shadow: 0 0 10px #6bffed, 0 0 20px, 0 0 30px #6bffed;
}

.experience .section-title{
  color: #ff6c00;
  text-shadow:  0 0 10px #ff6c00, 0 0 20px #ff6c00, 0 0 30px #ff6c00;
}

.languages ul,
.technologies ul,
.experience ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.languages ul li,
.technologies ul li,
.experience ul li {
  margin-bottom: 5px;
  padding-left: 20px;
  position: relative;
  font-size: 0.75rem;
  color: #fff;
}

.languages ul li:before,
.technologies ul li:before,
.experience ul li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff00e5;
  box-shadow: 0 0 10px #ff00e5, 0 0 20px #ff00e5, 0 0 30px #ff00e5;
}

.technologies ul li:before {
  background-color: #6bffed;
  box-shadow: 0 0 10px #6bffed, 0 0 20px, 0 0 30px #6bffed;
}

.experience ul li:before {
background-color: #ff6c00;
box-shadow: 0 0 10px #ff6c00, 0 0 20px #ff6c00, 0 0 30px #ff6c00;
}

.footer {
text-align: center;
margin-top: 50px;
color: #fff;
}

.footer p {
font-size: 1.2rem;
margin: 0;
text-shadow: 0 0 10px #ff00e5, 0 0 20px #ff00e5, 0 0 30px #ff00e5;
}

.content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.introductory-text{
  font-size: 0.75rem;
}

.introduction{
  max-width: 30%;
}
