<div class="background">
  <div class="grid"></div>
</div>
<div class="scanlines"></div>

<div class="container">
  <div class="header">
    <h1 class="title glitch">{{ name }}</h1>
    <h2 class="subtitle">{{ jobTitle }}</h2>
  </div>
  <div class="content">
    <div class="introduction">
      <h4 class="section-title">Greetings traveler!</h4>
      <h4 class="section-title">Welcome to my corner in the cyberspace!</h4>
      <p class="introductory-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis
        fringilla leo, id sagittis sapien. Sed ultrices ut arcu quis ultricies.
        Vivamus lectus lacus, malesuada quis lorem vel, interdum tincidunt quam.
        Nunc dictum purus diam, sed semper ipsum dictum a. Nullam sapien massa,
        cursus eget mattis maximus, feugiat a nisi. Praesent sit amet dui in
        ante viverra lobortis non eu risus. Curabitur finibus lorem sodales
        massa mollis pulvinar.
      </p>
      <p class="introductory-text">
        Suspendisse condimentum porttitor nisl, non viverra elit elementum sit
        amet. Vivamus eu dapibus odio, id venenatis quam. Morbi vitae convallis
        nisi. Proin eu gravida massa, at mattis velit. Duis pretium vulputate
        nibh, hendrerit imperdiet est tristique vel. Nullam faucibus urna quam,
        vel condimentum orci elementum at. Phasellus in faucibus sem. Nunc
        elementum placerat lobortis. Duis mattis quam ligula, ut mollis nisl
        viverra eu. Sed ac sem a odio varius imperdiet. Sed mauris ante,
        efficitur vitae pretium eget, euismod id diam. Quisque in lorem iaculis,
        tincidunt quam id, pellentesque mauris. Morbi neque massa, placerat eu
        vestibulum vitae, suscipit quis ante. Fusce et libero ac nisi viverra
        gravida. Nulla nunc purus, aliquam in ullamcorper eget, tincidunt at
        massa.
      </p>
    </div>
    <div class="side-column">
      <div class="proficiencies">
        <h3 class="side-column-title">PROFICIENCIES:</h3>
      </div>
      <div class="languages">
        <h4 class="section-title">PROGRAMMING LANGUAGES</h4>
        <ul>
          <li *ngFor="let language of languages">{{ language }}</li>
        </ul>
      </div>
      <div class="technologies">
        <h4 class="section-title">TECHNOLOGIES</h4>
        <ul>
          <li *ngFor="let tech of technologies">{{ tech }}</li>
        </ul>
      </div>
      <div class="experience">
        <h4 class="section-title">EXPERIENCE</h4>
        <ul>
          <li *ngFor="let job of experience">{{ job }}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer"></div>
</div>
